@use "./color" as *;

$themes: (
  default: (
    body-color: $themeBlack1,
    text-color: $themePrimaryWhite,
    text-icon-color:$themeTertiaryBlue1, 
    text-para-color: $themeSecondaryGrey10,
    button-bg: $themePrimaryBlue1,
    button-bg-hover: $themePrimaryBlue7,
    btn-hover: $themePrimaryBlue6,
    btn-hover-text: $themePrimaryWhite,
    btn-disabled: $themeBlack6,
    disabled-text: $themeSecondaryDarkBlue3,
    footer-text: $themeSecondaryDarkBlue3,
    info-well-bg: $themeBlack5Alpha,
    info-well-text: $themePrimaryWhite,
    info-well-highlight: $themeYellow1,
    header-color: $themeBlack2,
    footer-color: $themeBlack2,
    active-color: $themeTertiaryBlue1,
    active-gradient-horizontal: $activeGradientHorizontal,
    active-gradient-vertical: $activeGradientVertical,
    // tooltip-bg: $themeSecondaryDarkBlue2,
    tooltip-bg: $themeBlack3,
    tooltip-text: $themePrimaryWhite,
    main-container-bg: $themeBlack3,
    request-hover-bg: $themeBlack4,
    inline-button-hover-bg: $themeBlack5,
    checkbox-bg: $checkboxBg,
    checkbox-border: $themeSecondaryGrey10,
    checkbox-dot: $themeSecondaryGrey10,
    modal-bg: $modalGradient,
    setting-cell-bg: $themeBlack2,
    select-basic-hover-bg: $themeBlack4,
    radio-bg: $themeBlack4,
    radio-active-bg: $themeTertiaryBlue2,
    radio-text: $themeSecondaryDarkBlue5,
    labeled-select-bg: $themeBlack2,
    labeled-select-border: $themeSecondaryGrey10,
    modal-bg-color: $themeSecondaryGrey13,
    edit-button-hover: $themeYellow2,
    delete-button-hover: $themeRed1,
    custom-tooltip-background: $themeBlack6,
    custom-tooltip-link: $themeTertiaryBlue3,
    server-background-error: $themeRed3,
    server-border-error: $themeRed4,
    server-background-warning: $themeYellow3,
    server-border-warning: $themeYellow4,
    server-background-success: $themeGreen5,
    server-border-success: $themeGreen6,
    border-color: $themeBlack3,
    drop-background: $themeSecondaryGrey13,
    drop-option-background: $optionHover,
    input-hover-button-background:$themePrimaryBlue8,
  ),
  light: (
    body-color: $themePrimaryWhite,
    text-color: $themeBlack1,
    text-icon-color:$themeTertiaryBlue1,
    text-para-color: $themeSecondaryDarkBlue1,
    button-bg: $themePrimaryBlue1,
    button-bg-hover: $themePrimaryBlue7,
    btn-hover: $themePrimaryBlue1,
    btn-hover-text: $themeBlack2,
    btn-disabled: $themeSecondaryGrey4,
    disabled-text: $themeSecondaryDarkBlue3,
    footer-text: $themeSecondaryDarkBlue3,
    info-well-bg: $themeBlack5Alpha,
    info-well-text: $themePrimaryWhite,
    info-well-highlight: $themeYellow1,
    header-color: $themeBlack2,
    footer-color: $themeBlack2,
    active-color: $themeTertiaryBlue1,
    active-gradient-horizontal: $activeGradientHorizontal,
    active-gradient-vertical: $activeGradientVertical,
    tooltip-bg: $themeSecondaryDarkBlue2,
    tooltip-text: $themePrimaryWhite,
    main-container-bg: $themeBlack3,
    request-hover-bg: $themeBlack4,
    inline-button-hover-bg: $themeBlack5,
    checkbox-bg: $checkboxBg,
    checkbox-border: $themeSecondaryGrey10,
    checkbox-dot: $themeSecondaryGrey10,
    modal-bg: $modalGradient,
    setting-cell-bg: $themeBlack2,
    select-basic-hover-bg: $themeBlack4,
    radio-bg: $themeBlack4,
    radio-active-bg: $themeTertiaryBlue2,
    radio-text: $themeSecondaryDarkBlue5,
    labeled-select-bg: $themeBlack2,
    labeled-select-border: $themeSecondaryGrey10,
    modal-bg-color: $themeSecondaryGrey11,
    edit-button-hover: $themeYellow2,
    delete-button-hover: $themeRed1,
    custom-tooltip-background: $themeBlack6,
    custom-tooltip-link: $themeTertiaryBlue3,
    server-background-error: $themeRed3,
    server-border-error: $themeRed4,
    server-background-warning: $themeYellow3,
    server-border-warning: $themeYellow4,
    server-background-success: $themeGreen5,
    server-border-success: $themeGreen6,
    border-color: $themeBlack3,
    drop-background: $themeSecondaryGrey13,
    drop-option-background: $optionHover,
    input-hover-button-background:$themePrimaryBlue8,
  ),
);