// Font Family
$fontFamily: 'Nunito', sans-serif;

// Font Size
$fontSize: 12px;
$smallFontSize: 10px;
$footerFontSize: 12px;
$mediumFontSize: 14px;

// Font Weight
$smallFontWeight: 400;
$mediumFontWeight: 500;
$fontWeight: 600;
$headingFontWeight: 700;
$headingBoldFontWeight: 700;