@use "../../../assets/scss/abstract/color" as *;
@use "../../../assets/scss/abstract/font" as *;
@use "../../../assets/scss/abstract/mixins" as *;
@use "../../../assets/scss/abstract/variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html {
  // width: 960px;
  width: 799px;
  height: 600px;
  overflow: hidden;
}

html,
body {
  background-color: $themeBlack1;
}

#root {
  height: 100%;
  width: 100%;
}

body {
  // height: 100vh;
  height: 100%;
  text-rendering: optimizeSpeed;
  line-height: 1;
  overflow: hidden;
  font-family: "Nunito", sans-serif;
  font-size: $fontSize;
}
a,
.a:hover {
  outline: none;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}
figure {
  line-height: 1;
  display: inline-flex;
}
a,
button {
  display: inline-flex;
  border: none;
  box-shadow: none;
}

::-webkit-input-placeholder {
  /* Edge */
  color: $themeBlack5;
  font-size: 12px;
  opacity: 0.7;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $themeBlack5;
  font-size: 12px;
  opacity: 0.7;
}

::placeholder {
  color: $themeBlack5;
  font-size: 12px;
  opacity: 0.7;
}

::-webkit-search-cancel-button {
  display: none;
}

.routes-sec {
  height: 100vh;
  background: $themeBlack1;
  overflow-y: auto;
}

// Scrollbar

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  // box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  background: transparent;
  overflow: hidden;
  // margin-right: 25px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @include theme-aware("background-color", "scrollbar");
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @include theme-aware("background-color", "scrollbar");
}

.error-mesage.margin-up-down {
  margin-top: -15px;
  margin-top: 10px;
}

.fr-main {
  z-index: auto;
  // width: 400px;
  width: 100%;
  // height: 600px;
  height: 100%;
  overflow: hidden;

  &.outsideFb {
    width: 200px;
    height: 251px;
    padding: 20px 24px;

    figure {
      width: 40px;
      height: 40px;
      svg {
        height: 100%;
        width: 100%;
      }
    }

    p {
      @include theme-aware('color', 'text-color');
      font-weight: $fontWeight;
      font-size: $mediumFontSize;
      margin: 25px 0 30px;
      line-height: 24px;
    }

    button {
      @include theme-aware('color', 'text-color');
    }

    &.theme-default {
      background-color: #1c1c1e;
      p {
        color: #fff
      }

      button {
        color: #fff;
      }
    }
    &.theme-light {
      background-color: #1c1c1e;
      p {
        color: #000000;
      }

      button {
        color: #000000;
      }
    }
  }
}

.main-content,
.header,
.footer {
  @include theme-aware("color", "text-color");
}
.header-inner {
  flex: 0 0 40px;
  padding-inline: 20px;
  @include theme-aware("background-color", "header-color");
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  p {
    // font-weight: $headingFontWeight;
    font-weight: $mediumFontWeight;
    margin-inline-end: auto;
    line-height: 18px;

    .fr-tooltip {
      margin-inline-start: 8px;
    }
  }

  .btn-go-back {
    width: 18px;
    height: 18px;
    background-image: url("../../svg/arrows-right.svg");
    background-repeat: no-repeat;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    background-position: 5px -86px;
    margin-inline-end: 10px;

    &:hover {
      background-position: 5px 2px;
    }
  }
}

.note-inline {
  @include theme-aware('color', 'inline-button-hover-bg');
  font-size: 10px;
  line-height: 14px;
}

.progress-infos-wraper {
  // padding: 0 38px;
  column-gap: 6px;
  margin-bottom: 15px;

  .progress-infos {
    text-align: center;
    width: 157px;
    height: 68px;
    padding: 12px 30px;
    border-radius: 10px;
    h4 {
      font-weight: 700;
      font-size: 20px;
      margin-bottom: 10px;
    }
    p {
      font-style: normal;
      font-weight: 600;
      font-size: 10px;
    }
    &.profile-viewed {
      background: rgba(255, 153, 0, 0.2);
      border: 1px solid #422800;
      h4 {
        color: #ff9900;
      }
      p {
        color: #d27e00;
      }
    }
    &.request-sent {
      background: rgba(0, 255, 41, 0.2);
      border: 1px solid #00420a;
      h4 {
        color: #49ce56;
      }
      p {
        color: #008a16;
      }
    }
  }
}
.action-btn-wraper {
  margin-bottom: 10px;

  button {
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-inline: 3px;
    padding: 10px 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;

    figure {
      margin-right: 5px;
    }

    &.pause-btn {
      background: #1c1c1e !important;
      border-radius: 30px;
      
      span {
        color: #bdbdbd;
      }
    }
    &.stop-btn {
      background: #990000;
      color: #fff;
    }

    &:hover {
      opacity: 0.7;
      background-color: inherit;
      color: inherit;
    }
  }
}

.auto-stats {
  .action-btn-wraper {
    .btn-resume {
      display: none;
    }
  }
}
.fr-settings-footer {
  .auto-stats {
    .pause-btn {
      display: flex;
    }
    .btn-resume {
      display: none;
    }
    .loader-wraper {
      display: none;
    }
    .progress-infos-wraper,
    .action-btn-wraper {
      padding-inline: 0;
      gap: 10px;
    }

    .progress-infos-wraper {
      margin-bottom: 10px;
    }

    .progress-infos,
    .action-btn-wraper .btn {
      width: 50%;
      border-radius: 10px;
    }
    .action-btn-wraper {
      .btn {
        padding-inline: 15px;

        &.pause-btn {
          display: none;
        }
        &.btn-resume {
          display: flex;
        }
      }
    }
  }
}