.dashboardBody {
  display: flex;
  flex-direction: column;
}

.dashboardStats,
.innerBodyHeader {
  padding-right: 5px;
  padding-left: 5px;
}

.innerBodyHeader {
  margin-bottom: 20px;
}

.dashboardStats {
  flex: 1 1 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  overflow-x: hidden;
}

.stateDashboard {
  font-size: 12px;
  line-height: 12px;
  height: 24px;
  padding: 0 14px;
}
.dashboardBody .innerBodyHeader h2 {
  font-size: 18px;
  line-height: 21px;
}

.allTimeReactions {
  flex: 1 1 auto;
  max-height: 311px;
  margin: 0 0 30px;
  padding: 25px 30px;
}
.viewInPortal {
  font-size: 16px;
}

.allTimeReactions li {
  border-radius: 15px;
  height: 30px;
  display: inline-flex;
  padding: 0 14px 0 6px;
  align-items: center;
  margin-right: 5px;
  margin-bottom: 9px;
  font-weight: 500;
  user-select: none;
}
.allTimeReactions li svg {
  transition: all ease-in-out 0.1s;
  -webkit-appearance: none;
}
.allTimeReactions li:hover svg {
  transform: scale(1.5);
}
.allTimeReactions li figure {
  margin-right: 10px;
  line-height: 100%;
  font-size: 0;
}
.quantity_like {
  background-color: #c5f2ff;
  color: #0482a7;
}
.quantity_heart {
  background-color: #ffc5c5;
  color: #f66666;
}
.quantity_care {
  background-color: #fcccff;
  color: #bb06c6;
}
.quantity_laugh {
  background-color: #ceffdd;
  color: #008c2b;
}
.quantity_amazed {
  background-color: #fcffa3;
  color: #e4b32b;
}
.quantity_sad {
  background-color: #eee7ff;
  color: #7a50e0;
}
.quantity_angry {
  background-color: #ffe7d1;
  color: #ff7d06;
}

.totalReactionFooter h2,
.totalReactionHeader h2 {
  font-size: 24px;
  font-weight: 700;
}

.totalReactionFooter h2 small,
.totalReactionHeader h2 small {
  font-size: 14px;
  display: block;
  color: var(--placeholder);
  font-weight: 600;
  line-height: 16px;
  margin-bottom: 5px;
}

.totalReactionHeader {
  margin-bottom: 20px;
}
.totalReactionFooter {
  margin-top: 30px;
}

.totalReactionHeader h2 {
  color: var(--static-whiteBackground-font-color);
}
.totalReactionFooter h2 {
  color: var(--total-comments-dashboard-color);
}

.actionsActiveEngagement {
  margin-top: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

.actionsActiveEngagement .w-row {
  margin: 0 -5px;
}
.actionsActiveEngagement .w-col {
  padding: 0 5px;
}

.activeShot {
  min-height: 117px;
  padding: 20px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.active_shotStats .w-row {
  margin: 0 -5px;
}
.active_shotStats .w-col {
  padding: 0 5px;
}

.active_shotStats {
  margin-bottom: 14px;
}
.activeEngagementCard {
  flex: 1 0 199px;
  max-height: 199px;
  background: var(--gradient-vertical-cards);
  border-radius: 10px;
  box-shadow: 0px 5px 10px #00000029;
  padding: 20px 35px;
}
.activeShot h6 figure {
  flex: 0 0 24px;
  width: 24px;
  height: 24px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-right: 10px;
}

.active_shotStats .activeShot:first-child h6 figure {
  background: #e8faff;
}
.active_shotStats .activeShot:first-child h6 figure svg {
  fill: var(--static-whiteBackground-font-color);
}

.active_shotStats .activeShot:last-child h6 figure {
  background: #f8f5ff;
}

.activeShot h2 {
  font-size: 25px;
  line-height: 29px;
  font-family: "Rubik", sans-serif;
}
.activeShot h2 sub {
  font-size: 14px;
  line-height: 17px;
  position: relative;
  display: inline-flex;
  vertical-align: text-bottom;
  font-family: "Rubik", sans-serif;
}

.activeEngagementCard label,
.activeEngagementCard span {
  color: #fff;
  display: block;
}

.activeEngagementCard span {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

.activeEngagementCard h5 {
  color: #fff;
  position: relative;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
}

.activeEngagementCard h5:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #00ff3c 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 6px #ffffffa8;
  top: 5px;
  right: calc(100% + 10px);
}
.activeEngagementCard label {
  color: #85b0e6;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 10px;
}

.activeEngagementCard .w-row {
  margin: 0 -5px;
}
.activeEngagementCard .w-col {
  padding: 0 5px;
}

.activeList span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: #fff;
  background: #1a65c6;
  font-size: 12px;
}
.activeList span + span {
  margin-left: 10px;
}

/* Engagement Modes */
.modeScreen .innerBodyHeader .inline-btn,
.changePasswordExt .innerBodyHeader .inline-btn {
  width: 40px;
  height: 30px;
  padding: 0 11px;
}

.modeSwitch {
  padding: 5px;
  background: #fff;
  border-radius: 5px;
}
.modeSwitch .btn {
  flex: 0 0 50%;
  font-size: 14px;
}
.modeSwitch .btn.active {
  color: #fff;
}
.modeSwitch .btn:not(.active) {
  box-shadow: none;
}
.modeContent {
  flex: 1 1 auto;
  overflow: hidden;
}
.manualModeContent {
  margin-top: 38px;
}

.automationModeContent {
  margin-top: 20px;
}

/* Engagement Modes */
