@import url("./reset.css");
@import url("./colors.css");

* {
  color: var(--font-color);
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(
    to right,
    transparent,
    transparent 2.3px,
    var(--scrollbar-background) 2.3px,
    var(--scrollbar-background) 3.3px,
    transparent 3.3px,
    transparent 5px
  );
  background-repeat: repeat-y;
  width: 3px;
}

::-webkit-scrollbar-thumb {
  width: 3px;
  outline: 1px solid transparent;
  background-color: var(--font-color);
  border-radius: 5px;
}
/* SCROLLBAR */

::-webkit-input-placeholder {
  color: var(--placeholder);
}

::-moz-placeholder {
  color: var(--placeholder);
}

:-ms-input-placeholder {
  color: var(--placeholder);
}

::-ms-input-placeholder {
  color: var(--placeholder);
}

::placeholder {
  color: var(--placeholder);
}

::selection {
  background: var(--font-color);
  color: #fff;
}

.boxed {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 5px #003be044;
  border-radius: 10px;
}

svg {
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

body {
  box-shadow: 0px 3px 15px #0000003b;
}

/* Buttons, checkboxes, inputs, radio buttons - CLASSES */
.form-group {
  position: relative;
}
.form-group + .form-group,
.form-forgot-pass + .form-group {
  margin-top: 20px;
}
.form-group + .form-forgot-pass {
  margin-top: 10px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}
.form-control {
  border: 1px solid var(--placeholder);
  height: 42px;
  color: var(--font-color);
  padding: 0 14px;
  border-radius: 5px;
  font-size: 14px;
  background-color: #fff;
}
textarea.form-control {
  height: 215px;
}
.form-checkbox .form-checkbox-label,
.form-checkbox-2 .form-checkbox-label,
.form-radio .form-radio-label,
.form-radio-2 .form-radio-label,
.text-checkbox .form-checkbox-label {
  cursor: pointer;
  position: relative;
  display: inline-flex;
}

/* custom select / select */
.form-select,
.select-trigger {
  background-image: url("../images/down-arrow.png");
  background-repeat: no-repeat;
  background-size: 10px auto;
  background-position: right 14px center;
  padding-right: 35px;
  cursor: pointer;
}
.form-list-select {
  position: relative;
}
.form-list-select.active .select-options {
  display: block;
}
.select-trigger {
  display: flex;
  align-items: center;
}
.select-trigger figure {
  font-size: 0;
  margin-right: 15px;
}
.select-trigger span {
  font-weight: 600;
}
.select-options {
  position: absolute;
  min-width: 152px;
  top: 100%;
  background-color: #fff;
  padding: 9.75px;
  border-radius: 5px;
  box-shadow: 0px 10px 20px #003be029;
  border: 1px solid var(--listItem-border-color);
  left: 100%;
  margin-left: -36px;
  margin-top: -5px;
  display: none;
}
.select-options:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 1px solid var(--listItem-border-color);
  width: 14px;
  height: 14px;
  background: #fff;
  border-radius: 3px;
  transform: rotate(45deg);
  top: -8px;
  left: 8px;
  border-bottom: none;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
}
.select-options h6 {
  margin-bottom: 5px;
  pointer-events: none;
  user-select: none;
}
.select-options li {
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 10px;
  border-radius: 5px;
}
.select-options li:hover,
.select-options li.active {
  background-color: var(--hover-listItem-bg);
}
.select-options li figure {
  margin-right: 10px;
  line-height: 100%;
  font-size: 0;
}
/* custom select / select */

/* custom chekcbox */
.form-checkbox,
.form-checkbox-2 {
  line-height: 100%;
  font-size: 0;
}
.form-checkbox .form-checkbox-label input,
.form-checkbox-2 .form-checkbox-label input,
.text-checkbox input {
  display: none;
}

.form-checkbox .form-checkbox-label input + .form-checkbox-inner,
.form-checkbox-2 .form-checkbox-label input + .form-checkbox-inner {
  position: relative;
  border-radius: 30px;
  display: block;
  background-color: var(--placeholder);
  transition: all ease-in-out 0.4s;
}
.form-checkbox .form-checkbox-label input + .form-checkbox-inner:after,
.form-checkbox-2 .form-checkbox-label input + .form-checkbox-inner:after {
  position: absolute;
  content: "";
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 0px 6px #00000029;
  transition: all ease-in-out 0.4s;
}
/* custom chekcbox */

/* custom chekcbox 1 */
.form-checkbox .form-checkbox-label input + .form-checkbox-inner {
  padding-left: 50px;
  height: 30px;
}
.form-checkbox .form-checkbox-label input + .form-checkbox-inner:after {
  width: 24px;
  height: 24px;
  top: 3px;
  right: 3px;
}
.form-checkbox .form-checkbox-label input:checked + .form-checkbox-inner {
  background-color: var(--static-checkbox-checked);
}
.form-checkbox .form-checkbox-label input:checked + .form-checkbox-inner:after {
  right: calc(100% - 27px);
}
/* custom chekcbox 1 */

/* custom checkbox 2 */
.form-checkbox-2 .form-checkbox-label input + .form-checkbox-inner {
  padding-left: 48px;
  height: 20px;
}
.form-checkbox-2 .form-checkbox-label input + .form-checkbox-inner:after {
  width: 24px;
  height: 24px;
  top: -2px;
  left: -2px;
  border: 1px solid var(--static-checkbox-2-unchecked);
}
.form-checkbox-2 .form-checkbox-label input + .form-checkbox-inner:before {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  border: 2px solid var(--static-checkbox-2-unchecked);
  border-radius: 50%;
  left: 3px;
  top: 3px;
  z-index: 1;
  transition-delay: 0.1s;
  transition: all ease-in 0.3s;
}
.form-checkbox-2 .form-checkbox-label input:checked + .form-checkbox-inner {
  background: var(--static-checkbox-2-checked);
}
.form-checkbox-2
  .form-checkbox-label
  input:checked
  + .form-checkbox-inner::after {
  border: 1px solid var(--static-checkbox-2-checked);
  left: calc(100% - 21px);
}
.form-checkbox-2
  .form-checkbox-label
  input:checked
  + .form-checkbox-inner:before {
  left: calc(100% - 11px);
  border-color: var(--static-checkbox-2-checked);
  height: 10px;
  width: 0;
  top: 5px;
}
/* custom checkbox 2 */

/* text checkbox */
.text-checkbox input + .form-checkbox-inner {
  display: flex;
  height: 42px;
  padding: 0 25px;
  font-size: 14px;
  color: var(--static-whiteBackground-font-color);
  align-items: center;
  background: var(--text-check-bg-unchecked);
  border: 1px solid var(--text-check-border-unchecked);
  font-weight: 600;
  transition: all ease-in-out 0.4s;
  -webkit-transition: all ease-in-out 0.4s;
  -moz-transition: all ease-in-out 0.4s;
  -ms-transition: all ease-in-out 0.4s;
  -o-transition: all ease-in-out 0.4s;
}
.text-checkbox input:checked + .form-checkbox-inner {
  padding: 0 25px 0 42px;
  color: #fff;
  background: var(--gradient-text-checked-bg);
}
.text-checkbox input:checked + .form-checkbox-inner:after {
  position: absolute;
  content: "";
  width: 12px;
  height: 8px;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  border-bottom-left-radius: 3px;
  left: 18px;
  top: 15px;
  transform: rotate(-44deg);
  opacity: 0;
}
.text-checkbox input:checked + .form-checkbox-inner:after {
  opacity: 1;
}
/* text checkbox */

/* custom radio */
.form-radio,
.form-radio-2 {
  line-height: 100%;
  font-size: 0;
}
.form-radio input,
.form-radio-2 input {
  display: none;
}
.form-radio input + .form-radio-inner {
  display: block;
  position: relative;
  padding-left: 17px;
  height: 17px;
}
.form-radio input + .form-radio-inner:before {
  position: absolute;
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 50%;
  left: 0;
  top: 0;
  transition: all ease-in-out 0.4s;
}
.form-radio input + .form-radio-inner:before {
  background-color: var(--listItem-border-color);
}
.form-radio input:checked + .form-radio-inner:before {
  background-color: var(--text-check-border-unchecked);
}
.form-radio input + .form-radio-inner:after {
  position: absolute;
  content: "";
  width: 9px;
  height: 9px;
  left: 4px;
  top: 4px;
  z-index: 1;
  background: var(--static-radio);
  border-radius: 50%;
  transition: all ease-in-out 0.3s;
}
.form-radio input:checked + .form-radio-inner:after {
  background-color: var(--static-radio-checked);
}
/* custom radio */

/* custom radio 2 */
.form-radio-2 input + .form-radio-inner {
  display: block;
  position: relative;
  padding-left: 14px;
  height: 18px;
  border: 2px solid var(--placeholder);
  border-radius: 50%;
}
.form-radio-2 input + .form-radio-inner:after {
  position: absolute;
  top: 5px;
  width: 10px;
  height: 10px;
  content: "";
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background-color: transparent;
  transition: all;
  -webkit-transition: all;
  -moz-transition: all;
  -ms-transition: all;
  -o-transition: all;
}
.form-radio-2 input:checked + .form-radio-inner:after {
  background-color: var(--static-radio-2-checked);
}
.form-radio-2 input:checked + .form-radio-inner {
  border-color: var(--static-radio-2-checked);
}
/* custom radio 2 */

/* Buttons */
.btn-vertical-gradient {
  background: var(--gradient-vertical-button);
  color: #fff;
}
.btn-horizontal-gradient-2 {
  background: var(--gradient-horizontal-2-button);
  color: #fff;
}
.btn-horizontal-gradient-3 {
  background: var(--gradient-modes);
}
.btn-vertical-gradient:hover,
.btn-horizontal-gradient-2:hover {
  background: var(--gradient-vertical-cards);
  color: #fff;
}
.btn-horizontal-gradient-2 svg,
.btn-horizontal-gradient-2 svg * {
  fill: #fff;
}
.btn-static-theme {
  background: var(--static-button);
  color: #fff;
}
.btn-skeleton {
  border: 1px solid transparent;
}

.btn-skeleton-blue {
  border-color: var(--static-whiteBackground-font-color);
  color: var(--static-whiteBackground-font-color);
}
.btn-skeleton-blue:hover {
  background-color: var(--static-whiteBackground-font-color);
  color: #fff;
}
/* Buttons */
.form-group .error {
  color: rgb(238, 89, 89);
  font-size: 13px;
  line-height: 20px;
  text-align: start;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  font-weight: 500;
  pointer-events: none;
}
/* Buttons, checkboxes, inputs, radio buttons - CLASSES */

/* Loader */
.loaderOuter {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: hsla(0, 0%, 100%, .5);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  grid-gap: 15px;
  gap: 15px;
  flex-direction: column;
  text-align: center;
  z-index: 9999;

}

.loaderOuter img {
  max-width: 100px;
}
.progressBar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #f03355;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  animation: progressBar 2s infinite cubic-bezier(0.3, 1, 0, 1);
}
@keyframes progressBar {
  33% {
    border-radius: 0;
    background: #514b82;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  66% {
    border-radius: 0;
    background: #ffa516;
    clip-path: polygon(50% 0, 50% 0, 100% 100%, 0 100%);
  }
}
.loaderOuter span {
  font-weight: 500;
  display: block;
  line-height: 18px;
  font-size: 15px;
}
/* Loader */

/* Extension */
.em_ext_main {
  background-color: var(--extension-background);
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.em_ext_content {
  flex: 1 1 auto;
  overflow: hidden;
  padding: 0 15px;
}

.innerBodyHeader h2 {
  font-weight: 700;
  order: 1;
}
.innerBodyHeader h2 small {
  font-size: 12px;
  display: block;
}

.innerBodyHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.innerBodyHeader .inline-btn {
  order: 2;
}
