
// Friender Running page css
.friender-running-wraper {
    // position: absolute;
    position: relative;
    display: flex;
    inset: 0;
    background-color: #000;
    z-index: 9;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-left: 20px;

    .animation-wraper {
      margin-bottom: 10px;
      margin-top: -10px;
      height: 238px;
      width: 300px;
      padding: 10px;
      border-radius: 8px;
      background-color: #1C1C1E;

      figure {
        display: block;
        width: 100%;
        div {
          margin: 0 auto;
        }
      }
    }
    .loader-wraper {
      display: block;
      text-align: center;
      margin-bottom: 15px;

      p {
        color: #bdbdbd;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        margin-bottom: 15px;
      }
      .progressbar {
        margin-bottom: 15px;
        border-radius: 15px;
        overflow: hidden;
        width: 237px;
        background-color: #242525;
        margin-inline: auto;
        height: 10px;

        .progress-status {
          color: #313037;
          background-color: #f8cc05;
          height: 100%;
          width: 0%;
          border-radius: 15px;
        }
      }
    }
    .result-view {
      text-align: center;
      margin-bottom: 20px;
      background-color: #0094FF;
      border-radius: 20px;
      width: 120px;
      height: 24px;
      position: relative;
      left: 50%;
      transform: translate(-50%, 60%);

      span {
        cursor: pointer;
        // text-decoration: underline;
        color: #222226;
        // font-weight: 700;
        font-size: 10px;
        line-height: 25px;
      }

      span.result-view-icon {
        margin-left: 5px;
        line-height: 28px;
      }
    }
  }